run = "npm run dev"
entrypoint = "src/App.jsx"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]
build = ["sh", "-c", "npm install"]

[[ports]]
localPort = 5173
externalPort = 80
